// Add custom fonts
@import 'fonts';

$font-family-serif: Lora;
$font-family-base:  $font-family-serif;
$font-size-base: 1.2rem;
$headings-font-family: Oswald;
// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';

// Queste specific
.region-nav-branding {
  padding: 0 0.5rem;
}

.node__links {
  float: right;
}


h2 a {
  color: var(--#{$prefix}heading-color);
  text-decoration: none;

  &:hover {
    color: var(--#{$prefix}link-hover-color);
    text-decoration: none;
  }
}

// blocks only visible on the large screen
@media (max-width: 992px) {
  #block-queste-betreft {
    display: none;
  }
  #block-queste-views-block-content-recent-block-1 {
    display: none;
  }
}

